@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    display:block;
    max-width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(whitesmoke, lightgrey);
}
header, footer {
    position: sticky;
    background-color: #1e293b;
    color:whitesmoke;
    text-align:center;
}
header {
    top:0;
}
nav {
    background-color: #fff;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem;
    gap:1.5rem;
}
footer {
    bottom: 0;
}
nav a, nav a:visited {
    color:#000;
}
nav a:hover, nav a:focus {
    color:steelblue;
}
.card {
    background-color:#333;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:min(100%, 350px);
    scroll-margin-top: 10rem;
}
.card figure { 
    display: flex;
    flex-flow: column; 
}

.card figurecaption {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    color: #fff
}
.card img {
    border: 5px double #333;
    border-radius:50%;
}
.card q {
    color:#fff
}

/* || SMALL */
@media screen and (min-width:576px) {
    main {
        justify-content: center;
        flex-direction: row;
    }
    .card {
        width:min(100%, 500px);
    }
}
/* || MEDIUM */
@media screen and (min-width:768px) {
    nav {
        display:block;
    }
    .card {
        background-color: #1e293b;
    }
    .card figure {
        flex-flow: column-reverse;
    }
}
/* || LARGE */
@media screen and (min-width:992px) {
    .card img {
        border-radius:0%;
    }
}